# macOS finder and ide files
**/.DS_Store
.idea/**
.vscode/**

# binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# go test binary and coverage output
*.test
*.out

# go workspace
go.work

# temporary
.msgpack
.logtail